.wrapper {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.nav {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  margin: 0;
  padding: 22px 0 0 0;
  width: 180px;
  list-style: none;
  background-color: #0bc;
  border-right: 1px solid rgba(0, 0, 0, .05);

  .brand {
    font-size: 24px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    text-align: center;
    small {
      font-size: 12px;
    }
  }

  li {
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    .octicon {
      font-size: 20px;
    }

    a {
      color: rgba(255, 255, 255, .8);
      font-weight: 200;
      font-size: 20px;
      padding: 10px 20px;
      display: inline-block;
      transition: color .3s ease-out;

      &:hover {
        color: #fff;
      }
    }
  }
}

.container {
  padding: 0 20px;
  width: calc(100vw - 180px);

  .page-title {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    color: #333;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 2px;
    border-bottom: 1px solid #e2e2e2;
  }

  .page-msg {
    color: #666;
    font-size: 20px;
  }

  .page-md {
    color: #333;

    h2 {
      font-weight: 200;
    }

    a {
      color: #666;
      text-decoration: underline;
      &:hover {
        color: #333;
      }
    }
  }
}

.btn {
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  transition: all .3s ease;
  color: #666;
  font-size: 14px;
  padding: 5px;

  &:hover {
    background-color: #eee;
    color: #666;
  }

  &:active {
    background-color: white;
    color: #333;
  }
}