// Global styles

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  background-color: #f4f4f4;
}

// Menu
.menu {
  width: 200px;
  height: 100vh;
  padding-top: 30px;
  background-color: white;

  .brand {
    margin: 0;
    color: #666;
    font-size: 28px;
    text-align: center;
    cursor: move;
    user-select: none;
    -webkit-app-region: drag;
  }
}

.container {
  flex: 1;
  padding: 20px;
  background-color: white;
}
