.encoder-container {
  display: flex;
  height: calc(100% - 100px);
}

.encoder-actions {
  width: 100px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .encoder-type {
    -webkit-appearance: none;
    border-radius: 2px;
    background: white;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    color: #333;
    padding: 5px 10px;
    margin: 10px 0;
  }
}

.encoder-area {
  flex: 1;

  textarea {
    outline: none;
    font-size: 14px;
    font-family: Monaco, consolas, monospace;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
  }
}